DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
INVENTORY_DATASET_URL=https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx
INVENTORY_DATASET_PATH=data/online_retail_sample.csv
